@media screen and (max-width: 768px) {

  .reviews {
    padding: 49px 0 20px;

    .container {
      padding: 0;

      .title {
        margin-bottom: 16px;
        padding: 0 20px;
        font: 500 24px/32px 'Montserrat';

        br {
          display: none;
        }
      }

      .inner {
        .photos {
          width: 100%;
          padding-top: 71%;
          height: auto;

          .slider-compare {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            .slider-list {
              height: 100%;

              .slider-track {
                height: 100%;
              }
            }

            .slide-compare {
              .compare-block {
                border-radius: 0;
                height: 100%;

                .before-label,
                .after-label {
                  width: 64px;
                  height: 30px;
                  font: 12px 'Montserrat';
                }

                img {
                  border-radius: 0;
                  width: 100vw;
                  height: 100%;
                }

                .compare-block-slider {
                  width: 4px;

                  .compare-block-draggable {
                    top: calc(50% - 31px);
                    padding: 42px 3px 3px;
                    left: -22px;
                    width: 49px;
                    height: 62px;
                    background-size: 32px;
                    background-position: center top 5px;
                    font: 10px 'Montserrat';
                  }
                }
              }
            }
          }
        }

        .reviews-text {
          position: relative;
          top: auto;
          width: 100%;
          margin: 24px auto 0;
          height: auto;
          padding-bottom: 80px;

          .slider-reviews {
            margin-bottom: 0;

            li {
              .content {
                width: calc(100% - 40px);
                margin: 0 auto;
                min-height: 238px;
                border-radius: 8px;
                padding: 25px 16px;
                background-size: 24px 20px;
                background-position: right 17px top 24px;

                .author {
                  font: 500 18px 'Montserrat';
                }

                .city {
                  margin-bottom: 16px;
                  font: 14px 'Montserrat';
                }

                .text {
                  font: 14px/20px 'Montserrat';
                }
              }
            }

            .slider-arrow {
              top: auto;
              bottom: -78px;
              width: 24px;
              height: 24px;
              background-size: 24px;
            }

            .slider-prev {
              left: calc(50% - 36px);
            }

            .slider-next {
              left: calc(50% + 5px);
            }

            .slider-dots {
              bottom: -22px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
